<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
        In this experiment, you will be repeatedly shown objects, initially placed in the center of the screen. Each object is secretly a member of one of two categories (A and B), represented by a bin above (category A) and a bin below (category B) the objects. Your job is to figure out which category each object belongs to. You will get a bonus depending on your ability to correctly categorize each object.
        </p>

        <br><br>


        <p>

        You can make up to a $0.32 bonus on each trial: each correct guess will earn you $0.02; however, each incorrect guess will lose you $0.02 (if you have a negative bonus at the end of the experiment, your bonus will be set to $0.00).

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
