<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>

            Your bonus payment will depend on how many of the 16 objects you are able to correctly categorize: the greater the number of objects that you place correctly, the greater your bonus payment (+2 cents per item); and the more you get wrong, the lower your bonus payment (-2 cents per item). 

        </p>
        <br><br>



        <p>

            For instance, if you correctly categorize 11 of the 16 objects and categorize 5 incorrectly, then your bonus would be 11 * 2 - 5 * 2 = 12 cents.

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
