<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
        In each trial there will be two categories, A and B, represented by a bin at the top of the screen (category A) and a bin at the bottom of the screen (category B). We will give you a couple random examples of objects in category A and category B and your job is to figure out which category new objects belong to. You will get a bonus depending on your ability to correctly categorize each new object.
        </p>

        <br><br>


        <p>

        Each correct guess will earn you $0.02; however, each incorrect guess will lose you $0.02 (if you have a negative bonus at the end of the experiment, your bonus will be set to $0.00).

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
