<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>

            Your bonus payment will depend on how many of the 16 objects you are able to correctly categorize in the GUESSING phase: the greater the number of objects that you correctly categorize, the greater your bonus payment (+2 cents per item); and the more you get wrong, the lower your bonus payment (-2 cents per item). In order to perform well in the GUESSING phase, you will need to collect information in the LEARNING phase to help you learn the rule underlying the categories.

        </p>
        <br><br>

        <p>

            Crucially, it is up to <b>you</b> to decide when to switch from the LEARNING phase to the GUESSING phase. You will only be able to make guesses about objects in the GUESSING phase that you did <b>not</b> select in LEARNING phase. Ultimately, then, your job is to collect enough information about the categories in the LEARNING phase to allow you to make informed guesses, but not so much that you don't have any objects left to guess.

        </p>
        <br><br>


        <p>

            For instance, if you choose to learn about 7 of the 16 objects in the LEARNING phase. Then you would have 9 objects left to guess in the GUESSING phase. This means that your maximum possible bonus would be 9 * 2 = 18 cents. If you get 7/9 of those objects correct and 2/9 incorrect, then your bonus would be 7 * 2 - 2 * 2 = 10 cents.

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
